db/*.sqlite3
.bundle
log/*.log
log/*.sql
tmp/
config/database.yml
config/login.yml
config/deploy*
*.swp
*.swo
data/userlist.txt
data/userlist_test.txt
config/initializers/extensions/element.rb
private/reports
