<%= pluralize(@users.count, "user") %>
<table>
<% @users.each do |user| %>
  <tr>
    <td><%= user.path %></td>
    <% user.delay.calculate_account_size if user.size.nil? %>
    <td><%= user.size %></td>
  </tr>
<% end %>
</table>
