<%= pluralize(@users.count, "user") %>
<table>
<% @users.each do |user| %>
  <tr>
    <td><%= user.path %></td>
    <% user.send_later(:calculate_account_size) %>
    <td><%= user.size %></td>
  </tr>
<% end %>
</table>
